@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --ff: "Public Sans", sans-serif;
  --fws: 300;
  --fwm: 400;
  --fwl: 700;
  --opacity1: 0.9;
  --opacity2: 0.5;
  --opacity3: 0.43;
  --opacity4: 0.23;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.125rem;
  font-family: var(--ff);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end of resets */
p {
  opacity: var(--opacity2);
  font-weight: var(--fws);
}
.first-section h1 {
  font-weight: var(--fwm);
  color: var(--Dark-Blue);
  font-size: 2.5rem;
  line-height: 1.2;
}
.first-section__text p {
  margin: 30px 0;
}
.second-section h2 {
  font-weight: var(--fws);
  color: var(--Dark-Blue);
  font-size: 2rem;
  line-height: 1.2;
}
.second-section p {
  /* margin: 20px 0; */
  opacity: var(--opacity3);
  font-size: 1rem;
}
.second-section h3 {
  color: var(--Dark-Blue);
  font-weight: var(--fws);
  opacity: var(--opacity1);
}
.third-section-h3 h3 {
  padding: 4rem 0 1rem;
  color: var(--Dark-Blue);
  font-weight: var(--fwm);
  font-size: 1.5rem;
  background-color: var(--Very-Light-Gray);
}
.article-text h3 {
  color: var(--Dark-Blue);
  font-weight: var(--fws);
  font-size: 1.2rem;
  opacity: var(--opacity1);
}
.small-p {
  font-size: 0.8rem;
  opacity: var(--opacity4);
}
nav {
  width: 85%;
  margin: 0 auto;
  padding: 1rem;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
/* hamburger nav start */

.hamburger {
  cursor: pointer;
  overflow: hidden;
}
.hamburger div {
  height: 2px;
  width: 30px;
  margin: 4px 0;
  background-color: var(--Dark-Blue);
  transition: 0.3s ease-out;
}
.change .line1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.change .line2 {
  transform: translate(35px);
}
.change .line3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
.nav-ul {
  width: 90%;
  height: 300px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
  position: absolute;
  background-color: white;
  left: 50%;
  top: 13.8rem;
  transform: translate(-50%, -50%);
  display: flex;
  display: none;
  border-radius: 5px;
  z-index: 2;
  /* opacity: 0.3; */
}
.nav-ul li {
  list-style: none;
}
.nav-ul a {
  text-decoration: none;
  color: var(--Dark-Blue);
}
.nav-request__invite {
  display: none;
}
/* section start */
main {
  display: grid;
  grid-template-rows: auto auto auto;
  /* grid-gap: 5rem; */
}
section {
  text-align: center;
}

.first-section {
  background-color: var(--Very-Light-Gray);
  background-image: url(images/image-mockups.png),
    url(images/bg-intro-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 90%, contain;
  background-position: top -8.8rem center, top -5rem center;
  padding: 8rem 0;
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.3s ease;
}
/* a class i set to
 toggle each time hamburger icon
  is clicked */

.first-section-dark-gradient {
  background-image: linear-gradient(
      to bottom,
      hsl(233, 26%, 24%),
      hsla(234, 28%, 40%, 0.59),
      hsla(233, 26%, 24%, 0.39),
      hsla(233, 26%, 24%, 0)
    ),
    url(images\bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -5rem center;
  padding: 8rem 0;
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.3s ease;
}

.first-section__text {
  padding-top: 14rem;
  width: 90%;
  margin: 0 auto;
}

.first-button,
.last-button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  padding: 0.7rem 2.5rem;
  color: var(--Very-Light-Gray);
  border-radius: 30px;
  font-weight: var(-fwl);
  font-size: 0.9rem;
}

.first-section {
  background-color: var(--Very-Light-Gray);
}
.second-section {
  background-color: var(--Light-Grayish-Blue);
}
.second-section-grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5.5rem;
  padding: 5rem 0 3rem;
  place-items: center;
  width: 90%;
  margin: 0 auto;
}
.spacing {
  display: grid;
  grid-gap: 20px;
  position: relative;
}
.second-section-column1:after,
.second-section-column2:after,
.second-section-column3:after,
.second-section-column4:after {
  content: "";
  background-image: url(images/icon-online.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5rem;
  width: 5rem;
}

.second-section-column2:after {
  background-image: url(images/icon-budgeting.svg);
}
.second-section-column3:after {
  background-image: url(images/icon-onboarding.svg);
}

.second-section-column4:after {
  background-image: url(images/icon-api.svg);
}

.third-section-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--Very-Light-Gray);
  grid-gap: 1.5rem;
  padding-bottom: 5rem;
}
.article1,
.article2,
.article3,
.article4 {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
}
.article1-img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.article-text {
  display: grid;
  grid-gap: 1rem;
  width: 90%;
  margin: 1.5rem auto 0.9rem;
}
footer {
  background-color: var(--Dark-Blue);
  display: grid;
  grid-template-rows: repeat(5, 1fr), auto;
  place-items: center;
  text-align: center;
  grid-gap: 0.5rem;
  padding: 2rem 0 0rem;
}
.footerfirst {
  display: grid;
  grid-gap: 1.3rem;
  width: 90%;
  place-items: center;
}
.icons-cont {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.first-list,
.second-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 0.5rem;
}
.first-list a,
.second-list a {
  text-decoration: none;
  color: var(--Very-Light-Gray);
  opacity: var(--opacity1);
  font-weight: var(--fwm);
  font-size: 1rem;
}
small {
  display: block;
  padding-top: 1rem;
  color: var(--Light-Grayish-Blue);
  opacity: var(--opacity3);
}
